
<div>
    Login:<input type="text" id="txtLogin" name="txtLogin" /> <br />
    Password: <input type="password" id="txtPassword" name="txtPassword" /> <br />
    <input type="submit" value="Login" name="btnLogin" id="btnLogin"  />
</div>