<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5563/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="CustomerServiceManager.ICustomerService" name="BasicHttpBinding_ICustomerService" />
        </client>
    </system.serviceModel>
</configuration>