<div>
    <br />
    Age: <input type="text" id="txtAge" /> <br />
    Picture: <input type="file" id="myfile" /> <br />
    <input type="button" id="btnUpload" value="Upload" />
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            //$("#myfile").change(function () {
            //    $("#btnUpload").trigger('click');
            //});

            $("#btnUpload").click(function () {

                var data = new FormData();
                var files = $("#myfile").get(0).files;

                // Add the uploaded image content to the form data collection
                if (files.length > 0) {
                    data.append("UploadedImage", files[0]);
                }
               
                data.append("Age", $("#txtAge").val());  //Other data

                var ajaxRequest = $.ajax({
                    type: "POST",
                    //url: "/api/Values/PostFormData",
                    url:"http://localhost:65055/api/Files/UploadFile",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (response) {
                        alert('file uploaded');
                        console.log(response);
                    }
                });
                return false;
            });
        });
    </script>
}